/* CONTENT */
.content {
	padding-top: 15px;
	padding-bottom: 35px
}
/*Content : LEFT*/
.content .left {
	padding: 0px 0px 5px 20px;
}
.content .left .company-logo {
	margin-bottom: 10px;
	margin-left: 30px;
}
.content .left .company-logo img{
	max-width: 20%;
	float: left;
	margin-right: 5px;
}
.content .left .company-logo h1 {
	font-size: 30px;
	color: #0166b8;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 6px;
}
.content .left .boder {
	display: block;
    max-width: 80%;
    margin: 0 auto;
}
.content .left ul.sub-menu-company {
	text-align: center;
    list-style: none;
}
.content .left ul.sub-menu-company li {
	display: block;
	width: 70%;
	padding: 5px 8px;
	margin:0 auto;
}
.content .left ul.sub-menu-company li a {
	text-decoration: none;
	color: #000;
	line-height: 1.6;
	font-weight: bold;
	transition: all .4s;
	word-spacing: 2px;
}
.content .left ul.sub-menu-company li img{
	max-width: 80%;
}
.content .left ul.sub-menu-company li a:hover {
	color: #0166b8;
}
.content .left ul.sub-menu-company li a.active {
	color: #0166b8;
}
.content .right {
	padding: 8px 50px 15px 15px;
}
.content .right h1 {
	font-size: 2em;
    color: #0166b8;
    font-weight: bold;
    margin-bottom: 19px;
}
.content .right img.border {
	max-width: 24%;
}

.content .right h3 {
	font-size: 1.4em;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #017950;
}
.content .right .title-table {
	font-size: 1.1em;
	color: #15815c;
	padding-top: 5px;
	padding-bottom: 8px;
	padding-left: 20px;
	background-image: url("../images/ul.png");
	background-repeat: no-repeat;
	background-size: 15px auto;
	background-position: left center;
}
.content .right h3 {

}
.content .right ol {
	padding-left: 15px;
    padding-bottom: 10px;
}

.content .right table {
	 border-collapse: collapse;
	 width: 100%;
    border-spacing: 0;
}
.content .right table tr {
	border: 1px solid #0166b8;
}
.content .right table td.col1 {
	width: 30%;
	text-align: left;
	vertical-align: top;
	padding: 15px;
	border-right: 1px solid #0166b8;
	border-bottom: 1px solid #fff;
	background-color: #0166b8;
	color: #fff;
}
.content .right table td.col2 {
	padding: 15px 15px 10px 15px;
}
.content .right table .image-detail {
	margin-top: 5px;	
}
.content .right table .image-detail img {
	max-width: 100%;
}
.content .right table .figure {
	display: block;
	text-align: center;
	color: #017950;
	padding:2px 0px;
}
}