
.content .left .company-logo span {
	    font-size: 1.5em;
}
.content .right {
	padding: 8px 50px 15px 15px;
}
.content .right h1 {
	font-size: 2em;
    color: #0166b8;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: KozGoPr6n Heavy;
    margin-top: 0;
}
.content .right img.border {
	max-width: 17%;
    margin-left: 6%;
}

.content .right h3 {
	font-size: 1.2em;
	color: #047951;
	padding-bottom: 15px;
}
.content .right p {
	line-height: 1.6;
	padding-bottom: 25px;
	text-align: justify;
}

.content .right ol {
	padding-left: 30px;
	padding-bottom: 20px;
}
.content .right ol li {
	padding-bottom: 20px;
}
.content .right p:last-child{
	text-align: right;
}