.content .right {
	padding: 8px 50px 15px 15px;
}
.content .right h1 {
	font-size: 2em;
    color: #0166b8;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: KozGoPr6n Heavy;
    margin-top: 0;
}
.content .right img.border {
	max-width: 19%;
}
.content .right img.image_contact{
	max-width: 100%;
    width: 866px;
    padding-top: 20px;
    padding-bottom: 20px;
}