.content .right {
	padding: 8px 50px 15px 15px;
    line-height: 1.7;
}
.content .right h1 {
	font-size: 2em;
    color: #0166b8;
    font-weight: bold;
    margin-bottom: 3px;
    font-family: KozGoPr6n Heavy;
    margin-top: 0;
}
.content .right img.border {
	max-width: 18%;
	display: block;
	margin-left: 35px;
}

.content .right img.image_center_ecosolution{
	padding: 22px 77px 22px 164px;
	max-width: 100%;
	width: 800px;
}
.content .right img.image_center_ecosolution_1{
	max-width:100%;
	padding-left: 78px;padding-bottom: 11px;padding: 10px 12px 10px 86px;
}
.content .right img.image_center_ecosolution_2{
	width: 934px;padding-top: 20px;
	padding: 10px 12px 10px 3px;
	max-width:100%;
}
.content .right img.image_center_ecosolution_3{
	max-width:100%;
	padding: 10px 12px 10px 3px;
	width:468px;
}
.content .right img.image_center_ecosolution_4{
	max-width:100%;
	padding: 10px 12px 10px 3px;
	width: 453px;
}