@font-face {
    font-family: KozGoPr6n Bold;
    src: url("../../font/KozGoPr6n Bold.otf");
}
@font-face {
    font-family: KozGoPr6n Heavy;
    src: url("../../font/KozGoPr6n Heavy.otf");
}
@font-face {
    font-family: KozGoPr6n Medium;
    src: url("../../font/KozGoPr6n Medium.otf");
}
@font-face {
    font-family: KozGoPr6n Regular;
    src: url("../../font/KozGoPr6n Regular.otf");
}

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
html{
	background-color: #fff;
	box-sizing: border-box;
}
body{
	font-size: 14px;
	font-family: KozGoPr6n Medium,KozGoPr6n Regular, KozGoPr6n Heavy, KozGoPr6n Bold, Arial,"Helvetica Neue",Helvetica,sans-serif, KozGoPr6n Regular, KozGoPr6n Heavy, KozGoPr6n Bold;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
}
/*CUSTOMIZE */
.clearfix {zoom:1;}
.clearfix:after{
	content: '.';
	height: 0;
	display: block;
	clear: both;
	visibility: hidden;
}
.row:after{
	content: '.';
	height: 0;
	display: block;
	clear: both;
	visibility: hidden;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.center-text {
	text-align: center;
}
.left-text{
	text-align: left;
}