/*HEADER TOP*/
.header-top {
	margin-bottom: 2px;
}
.header-top .right {
    margin: 23px 0 0 -40px;
}
.header-top .right h2 {
	margin-bottom: 10px;
}

.header-top .left {
    padding-left: 25px;
	margin-top: 5px;
    margin-bottom: 5px;
}
.header-top .logo-ks-comunity {
	max-width: 55%;
    padding-left: 10px;
}

.header-top h2 {
	color: #208965;
    font-size: 32px;
}

.header-top .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 5px;
    padding-left: 75px;
    padding-bottom: 3px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+42,f6f6f6+100 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 42%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 42%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 42%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
    z-index: 9999;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.header-top .sticky::after {
    clear: both;
}
.logo-ks-comunity-ticky {
    display: none;
}
.header-top .sticky .logo-ks-comunity-ticky {
    max-width: 3%;
    float: left;
}


.header-top .sticky .navigation-bar {
    padding-top: 10px;
    padding-left: 70px;
}
.header-top .navigation-bar ul {
	list-style: none;
	margin-left: -16px; 
}

.header-top .navigation-bar ul li {
	float: left;
    position:relative;
}
.header-top .navigation-bar li li {
    width: 200px;
}
.header-top .navigation-bar ul li a {
	display: block;
    padding: 5px 17px;
    text-align: left;
    text-decoration: none;
    color: #0166b8;
    font-size: 15px;
    text-transform: uppercase;
    transition: all .3s;
    font-family: KozGoPr6n Heavy;
    white-space:nowrap;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.header-top .navigation-bar ul li:hover a {
	color: #fff;
	background-color: #0166b8;
}
.header-top .navigation-bar ul.parent-menu ul {
    position:absolute;
    left:16px;
    z-index: 100;
}


.header-top .navigation-bar ul.parent-menu ul.sub-menu li a {
    padding:10px 10px 10px 15px;
    font-weight: normal;
}
.header-top .navigation-bar ul.parent-menu ul.sub-menu li:hover a {
   background: #0179da;
}
