/*HEADER TOP*/
.header-top {
	margin-bottom: 2px;
}
.header-top .right {
    margin: 23px 0 0 -40px;
}
.header-top .right h2 {
	margin-bottom: 10px;
}

.header-top .left {
    padding-left: 25px;
	margin-top: 5px;
    margin-bottom: 5px;
}
.header-top .logo-ks-comunity {
	max-width: 55%;
    padding-left: 10px;
}

.header-top h2 {
	color: #208965;
    font-size: 32px;
}
.header-top .navigation-bar ul {
	list-style: none;
	margin-left: -16px; 
}

.header-top .navigation-bar ul li {
	float: left;
    position:relative;
}
.header-top .navigation-bar li li {
    width: 200px;
}
.header-top .navigation-bar ul li a {
	display: block;
    padding: 5px 17px;
    text-align: left;
    text-decoration: none;
    color: #0166b8;
    font-size: 15px;
    text-transform: uppercase;
    transition: all .3s;
    font-family: KozGoPr6n Heavy;
    white-space:nowrap;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.header-top .navigation-bar ul li:hover a {
	color: #fff;
	background-color: #0166b8;
}
.header-top .navigation-bar ul.parent-menu ul {
    position:absolute;
    left:16px;
    z-index: 100;
}
.header-top .navigation-bar ul.parent-menu ul.sub-menu li a {
    padding:10px 10px 10px 15px;
    font-weight: normal;
}
.header-top .navigation-bar ul.parent-menu ul.sub-menu li:hover a {
   background: #0179da;
}
