.content .right {
	padding: 8px 50px 15px 15px;
}
.content .right h1 {
	padding-bottom: 20px;
	font-size: 2em;
    color: #0166b8;
    font-weight: bold;
    background-image: url("../images/boder.png");
    background-size: 233px auto;
    background-repeat: no-repeat;
    background-position: left bottom;	
}

.content .right img.border {
	max-width: 24%;
}

.content .right h3 {
	font-size: 1.4em;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #017950;
}
.content .right .title-table {
	font-size: 1.1em;
	color: #15815c;
	padding-top: 5px;
	padding-bottom: 8px;
	padding-left: 20px;
	background-image: url("../images/ul.png");
	background-repeat: no-repeat;
	background-size: 15px auto;
	background-position: left center;
}
.content .right h3 {

}
.content .right ol {
	padding-left: 15px;
    padding-bottom: 10px;
}

.content .right table {
	 border-collapse: collapse;
	 width: 100%;
    border-spacing: 0;
}
.content .right table tr {
	border: 1px solid #0166b8;
}
.content .right table td.col1 {
	width: 30%;
	text-align: left;
	vertical-align: top;
	padding: 15px;
	border-right: 1px solid #0166b8;
	border-bottom: 1px solid #fff;
	background-color: #0166b8;
	color: #fff;
}
.content .right table td.merge {
	text-align: center;
}
.content .right table td.col2 {
	padding: 15px 15px 10px 15px;
}
.content .right table .image-detail {
	margin-top: 5px;	
}
.content .right table .image-detail img {
	max-width: 100%;
}
.content .right table .figure {
	display: block;
	text-align: center;
	color: #017950;
	padding:2px 0px;
}
}